@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font1;
  src: url(../src/assets/font/Lausanne-300.woff2);
}
@font-face {
  font-family: font2;
  src: url(../src/assets/font/Lausanne-500.woff2);
}

.animated-text-logo {
  padding: 10px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: linear-gradient(
    90deg,
    rgb(3, 52, 99),
    rgb(162, 138, 131),
    rgb(151, 149, 179),
    rgb(177, 19, 98),
    rgb(158, 237, 158)
  );
  background-size: 400% 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientAnimation 5s ease infinite,
    1.5s ease-in-out infinite alternate;
  position: relative;
}

/* Add the missing keyframe animations */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
